@(connected: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Mr.Qoo 花生向聊天室</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
        
        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="@routes.Application.index()">Mr.Qoo 花生向聊天室</a>
                    
                    @if(connected != null) {
                        <p class="pull-right">
                            Logged in as @connected —
                            <a href="@routes.Application.index()">Logout</a>
                        </p>
                    } else {
                        <form action="@routes.Application.chatRoom()" class="pull-right">
                            <select id="roomId" name="roomId" class="medium">
                                <option value=0>Qoo</option>
                                <option value=1>手遊代理</option>
                                <option value=2>頁遊代理</option>
                            </select>
                            <input id="username" name="username" class="input-small" type="text" placeholder="Username">
                            <button class="btn" type="submit">Log in</button>
                        </form>
                    }
                    
                </div>
            </div>
        </div>

        <div class="container">
            <div id="content" class="content">
                @content
            </div>
        </div>
        
    </body>
</html>
